version: '3.4'
services:

{%- for name, resolver in resolvers.items() %}
  {{ name }}:
    network_mode: host

    {%- if 'depends_on' in resolver %}
    depends_on:
      - {{ resolver['depends_on'] }}
    {%- endif -%}

    {%- if resolver['type'] == 'knot-resolver' %}
    build:
      context: ./docker-knot-resolver
      network: host
      args:
        GIT_SHA: {{ git_sha }}
        SSH_PRIVATE_KEY: ${SSH_PRIVATE_KEY}
        KNOT_BRANCH: ${KNOT_BRANCH}
        MESONARGS: {{ '-Db_sanitize=address' if asan else "''" }}
    image: knot-resolver:{{ git_sha }}{{ '-asan' if asan else '' }}
    {%- if asan %}
    cap_add:
      - SYS_PTRACE
    {%- endif %}
    volumes:
      - "./{{ name }}.conf:/etc/knot-resolver/kresd.conf:ro"
      - type: tmpfs
        target: /dev/shm
      - "./logs/{{ name }}:/log:rw"
    ulimits:
      core: 99999999999
    {%- if log_keys %}
    environment:
      - SSLKEYLOGFILE=/log/gnutls.keys
    {%- endif -%}
    {%- endif -%}

    {%- if resolver['type'] == 'bind' %}
    image: registry.nic.cz/knot/respdiff/bind:v9_16_6
    volumes:
      - "./{{ name }}.conf:/etc/bind9/named.conf:ro"
      - "./rfc1912.zones:/etc/bind9/rfc1912.zones:ro"
      - "./bind.keys:/etc/bind9/bind.keys:ro"
    {%- endif -%}

    {%- if resolver['type'] == 'unbound' %}
    image: registry.nic.cz/knot/respdiff/unbound:release-1.13.2
    volumes:
      - "./{{ name }}.conf:/usr/local/etc/unbound/unbound.conf:ro"
      - "./root.keys:/usr/local/etc/unbound/root.keys:ro"
      - "./cert.pem:/usr/local/etc/unbound/cert.pem:ro"
      - "./key.pem:/usr/local/etc/unbound/key.pem:ro"
      - "./logs/{{ name }}:/log:rw"
    {%- endif -%}

{%- endfor -%}
