-- Refer to manual: https://knot-resolver.readthedocs.io/en/latest/daemon.html#configuration

-- Configure interfaces
net.listen('127.0.0.1', {{ port }})
{% if listen_ipv6 -%}
net.listen('::1', {{ port }})
{%- endif %}
{% if tls_port %}
net.listen('127.0.0.1', {{ tls_port }}, {tls = true})
{% if listen_ipv6 -%}
net.listen('::1', {{ tls_port }}, {tls = true})
{%- endif %}
{% endif %}

-- essential for TLS_FORWARD in Docker with lots of respdiff jobs
net.tcp_pipeline({{ tcp_pipeline }})

{% if forward %}
-- forwarding
policy.add(policy.all(
{% if 'tls' in forward and forward['tls'] %}
	policy.TLS_FORWARD({
		{"{{ forward['ip'] }}@{{ forward['port'] }}", insecure=true}})
{% else %}
	policy.FORWARD("{{ forward['ip'] }}@{{ forward['port'] }}")
{% endif %}
))
{% endif %}

-- Large cache size, so we don't need to flush often
-- This can be larger than available RAM, least frequently accessed
-- records will be paged out
cache.size = 1000 * MB

verbose({{ 'true' if verbose else 'false' }})

-- Load Useful modules
modules = {
	'workarounds < iterate',
	'policy',   -- Block queries to local zones/bad sites
	'view',     -- Views for certain clients
	'stats',    -- Track internal statistics
}
