options {
	listen-on port {{ port }} { 127.0.0.1; };
{% if listen_ipv6 -%}
	listen-on-v6 port {{ port }} { ::1; };
{% else %}
	listen-on-v6 {none;};
{%- endif %}
	directory 	"/dev/shm";
	dump-file 	"/dev/shm/cache_dump.db";
	statistics-file "/dev/shm/named_stats.txt";
	memstatistics-file "/dev/shm/named_mem_stats.txt";
	allow-query     { localhost; };
	max-cache-size	1048576000;

	max-udp-size 4096; # reduce TC towards clients (respdiff)

	deny-answer-addresses {
		0.0.0.0/8;
		::ffff:0.0.0.0/104;
		10.0.0.0/8;
		::ffff:10.0.0.0/104;
		100.64.0.0/10;
		::ffff:100.64.0.0/106;
		127.0.0.0/8;
		::ffff:127.0.0.0/104;
		169.254.0.0/16;
		::ffff:169.254.0.0/112;
		172.16.0.0/12;
		::ffff:172.16.0.0/108;
		192.168.0.0/16;
		::ffff:192.168.0.0/112;
		::/128;
		::1/128;
		fc00::/7;
		fe80::/10;
	};

	resolver-query-timeout 15;

	recursion yes;

	dnssec-enable yes;
	dnssec-validation yes;

	empty-zones-enable yes;

	managed-keys-directory "/dev/shm";

	pid-file "/dev/shm/named.pid";
	session-keyfile "/dev/shm/session.key";
};

{% if forward %}
zone "." IN {
	type forward;
	forward only;
	forwarders { {{ forward['ip'] }} port {{ forward['port'] }}; };
};
{% endif %}

include "/etc/bind9/rfc1912.zones";
include "/etc/bind9/bind.keys";
