server:
	num-threads: 1

	interface: 127.0.0.1@{{ port }}
{% if listen_ipv6 %}
	interface: ::1@{{ port }}
{%- endif %}
{% if tls_port %}
	interface: 127.0.0.1@{{ tls_port }}
{% if listen_ipv6 %}
	interface: ::1@{{ tls_port }}
{%- endif %}
	ssl-port: {{ tls_port }}
	ssl-service-key: "/usr/local/etc/unbound/key.pem"
	ssl-service-pem: "/usr/local/etc/unbound/cert.pem"
{%- endif %}

	private-address: 0.0.0.0/8
	private-address: ::ffff:0.0.0.0/104
	private-address: 10.0.0.0/8
	private-address: ::ffff:10.0.0.0/104
	private-address: 100.64.0.0/10
	private-address: ::ffff:100.64.0.0/106
	private-address: 127.0.0.0/8
	private-address: ::ffff:127.0.0.0/104
	private-address: 169.254.0.0/16
	private-address: ::ffff:169.254.0.0/112
	private-address: 172.16.0.0/12
	private-address: ::ffff:172.16.0.0/108
	private-address: 192.168.0.0/16
	private-address: ::ffff:192.168.0.0/112
	private-address: ::/128
	private-address: ::1/128
	private-address: fc00::/7
	private-address: fe80::/10

	max-udp-size 4096; # reduce TC towards clients (mainly respdiff)

	so-reuseport: yes
	module-config: "validator iterator"
	trust-anchor-file: "/usr/local/etc/unbound/root.keys"
	msg-cache-size: 400m
	msg-cache-slabs: 1
	rrset-cache-size: 400m
	rrset-cache-slabs: 1
	infra-cache-numhosts: 100000
	val-log-level: 2
	key-cache-size: 100m
	neg-cache-size: 100m
